.sksk{
	font-weight: bold;
}

.period_btn{
	opacity: 0;
}
.n-radio-tab{
	margin: 50px 0 30px 0;
}
label{
	display: inline-block;
    min-width: 76px;
    border: 1px solid #f1f1f1;
    color: #777777;
    font-size: 14px;
    line-height: 30px;
    float: left;
    margin-right: -1px;
    text-align: center;
    vertical-align: top;
    position: relative;
    cursor: pointer;
}
.n-datepicker{
	float:left;
	position: relative;
}
.n-radio-tab{
	float: left;
}
.n-input {
    height: 32px;
    padding: 5px 6px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif !important;
    font-size: 14px;
    line-height: 20px;
}
.ui-datepicker-trigger{
	position: absolute;
	z-index:1;
	 top: 15%;
    right: 6%;
}
.sg{
	color: #777777;
    font-size: 14px;
    font-weight:bold;
	height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}

.ui-datepicker-trigger:hover {
	cursor: pointer;
}

.clicks{
	border-color: #000000;
}



/*writereview */
.tab-btn{
	float: left;

}
.tab-group::after{
  content: "";
  display: block;
  clear: both;
}
.bs:before {
    content: "/";
    display: inline-block;
    padding: 4px;
}
.tab-btn a{
	display:inline-block;
	text-decoration: none;
	font-size: 18px;
    color: #ccc;
    
}
.tab-group{
	 padding-top: 10px;
}